.container {
  width: 100%;
  margin: auto;
  background-color: #6e07f3;
  color: white;
  display: flex;
  justify-content: center;
  padding: 144px 72px 288px;

  .text {
    width: 820px;
    text-align: center;

    h1 {
      margin-bottom: 24px;
    }

    p {
      line-height: 32px;
      margin: auto;
      font-weight: 100;
      font-size: 20px;
    }
  }
}

@media (max-width: 1440px) {
  .container {
    width: 1440px;
  }
}
